body {
  background-color: white;
  background-image: url(../images/bg.jpg);
  background-repeat: repeat-x;
}
body,
html {
  margin: 0;
  padding: 0;
}
#container {
  background-color: transparent;
  background-image: url(../images/bg2.fw.png);
  background-repeat: no-repeat;
  width: 1500px;
  min-height: 600px;
  height: auto !important;
  height: 600px;
  margin: auto;
}
#wrapper {
  background-color: transparent;
  width: 960px;
  min-height: 600px;
  height: auto !important;
  height: 600px;
  margin: auto;
}
#banner {
  width: 100%;
  min-height: 50px;
  height: auto !important;
  height: 50px;
  background-color: #444;
  border-radius: 0px 0px 25px 25px;
  color: white;
  font-family: 'Oswald', sans-serif;
  padding-bottom: 10px;
  padding-top: 10px;
}
#bannerText {
  width: 400px;
  min-height: 50px;
  height: auto !important;
  height: 50px;
  background-color: transparent;
  margin: auto;
  line-height: 1;
}
#slider {
  width: 100%;
  height: 400px;
  background-color: red;
  margin-top: 15px;
}

#top-navbar {
  width: 100%;
  min-height: 50px;
  height: auto !important;
  height: 50px;
  background-color: #444;
  margin-top: 30px;
  border-radius: 25px 25px 0px 0px;
}
#content {
  width: 900px;
  min-height: 200px;
  height: auto !important;
  height: 200px;
  background-color: #e5e5e5;
  font-family: 'Oswald', sans-serif;
  padding: 30px 30px 30px 30px;
  border-bottom: 8px solid #444;
}
#footer {
  width: 100%;
  min-height: 50px;
  height: auto !important;
  height: 50px;
  font-family: 'Oswald', sans-serif;
  padding-top: 30px;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.tabbed {
  margin-left: 25px;
}
.shortTab {
  margin-left: 15px;
}
.farTab {
  margin-left: 35px;
}
#bigtitle {
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 0.5;
}
#title {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0.5;
}
#mediumText {
  font-size: 24px;
  letter-spacing: 0.5;
}
#smallText {
  font-size: 12px;
  letter-spacing: 0.5;
}
#text {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.5;
}
a,
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #f90;
}
#image {
  float: left;
  text-wrap: normal;
  padding: 15px 15px 15px 15px;
}
@media only screen and (max-device-width: 480px) {
  #bannerText {
    width: 800px;
    min-height: 50px;
    height: auto !important;
    height: 50px;
    background-color: transparent;
    margin: auto;
    line-height: 1;
  }
  #bigtitle {
    font-size: 36px;
    font-weight: bold;
  }
  #title {
    font-size: 24px;
    font-weight: bold;
  }
  #mediumText {
    font-size: 16px;
  }
  #smallText {
    font-size: 8px;
  }
  #text {
    font-size: 12px;
    line-height: 1.6;
  }
}

/*NAVBAR*/
.nav ul {
  list-style: none;
  background-color: transparent;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  letter-spacing: 0.5;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: 0.3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
  }

  /* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
  */
}
/*NAVBAR END*/
