// Breakpoints
$screen-sm: 576px; // Small tablets and large smartphones (landscape view)
$screen-md: 768px; // Small tablets (portrait view)
$screen-lg: 992px; // Tablets and small desktops
$screen-xl: 1200px; // Large tablets and desktops

$sidebarWidth: 18rem;
$contentWidth: calc(100vw - $sidebarWidth);
$transitionSpeed: 0.25s ease;
